.signin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.signin-form {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.input {
  width: 100%;
  margin-top: 5px;
  padding: 10px;
  border: 1px solid var(--white);
  border-radius: 5px;
  color: var(--white);
}

.signin__form-label {
  margin-bottom: 15px;
  width: 100%;
}

.signin__form-label-text {
  width: 100%;
}

.signin__button {
  border: none;
  background-color: var(--blue-primary);
  border-radius: 5px;
  padding: 10px;
  color: var(--white);
  margin-top: 20px;
  cursor: pointer;
  transition: background-color .2s ease;
  min-height: 40px;
}

.signin__button:hover {
  background-color: var(--blue-secondary);
}

.signin__header-logo {
  width: 100px;
  position: absolute;
  top: 10px;
  left: 20px;
}

.signin__header {
  margin-bottom: 60px;
}

.signup-link, .forgotpw-link {
  text-decoration: none;
  color: var(--blue-primary);
}

.signup-link:hover, .forgotpw-link:hover {
  color: var(--blue-secondary);
}

.signin__link {
  color: var(--blue-primary);
  text-decoration: none;
  transition: color .2s ease;
}

.signin__link:hover {
  color: var(--blue-secondary);
}

.signin__loader {
  background-color: transparent;
}

.signin__preloader-container {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.ball {
  height: 10px;
  width: 10px;
  background-color: white;
  border-radius: 50%;
}

.ball1 {
  animation: fade 750ms linear alternate infinite;
}

.ball2 {
  animation: fade 750ms linear 250ms alternate infinite;
}

.ball3 {
  animation: fade 750ms linear 500ms alternate infinite;
}

.ball4 {
  animation: fade 750ms linear 750ms alternate infinite;
}

.signin__error-message {
  color: red;
  margin: 0;
}




@keyframes fade {
 0% {
  opacity: 0;
 } 
 100% {
  opacity: 1; }
}



@media screen and (max-width: 650px) {
  .signin-form {
    width: 80%;
  }
}