.project__header {
  background-color: transparent;
  height: 65px;
  display: flex;
  align-items: center;
  padding: 0 25px;
  border-bottom: 1px solid var(--white);
  justify-content: space-between;
}

.project__header-title {
  font-weight: bold;
  display: flex;
  align-items: center;
}

.project__back-icon {
  width: 20px;
  cursor: pointer;
  margin-right: 5px;
}

.project__delete-button,
.edit-product-delete-button {
  background-color: var(--delete-red);
  color: var(--white);
  border: 1px solid var(--white);
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.project__delete-button:hover,
.edit-product-delete-button:hover {
  opacity: 0.7;
}

.project__body-horizontal-spacer {
  border-bottom: 1px solid var(--white);
  margin-top: 20px;
}

.project__body-create-estimate-section {
  margin: 0 auto;
  max-width: 80vw;
}

.create-button {
  width: 100%;
  padding: 40px;
  color: var(--white);
  font-size: 24px;
  margin-top: 20px;
  border: 1px dashed var(--white);
  border-radius: 5px;
  cursor: pointer;
  transition:
    background-color 0.2s ease,
    border 0.2s ease;
  background-color: transparent;
}

.create-button:hover {
  background-color: var(--blue-primary);
}

.project__body-create-diagram-button {
  margin-top: 0;
  border: 1px solid var(--white);
}

.project__body-diagram-header {
  margin: 30px 0;
  font-size: 16px;
}

.project__drawing {
  margin-top: 20px;
  cursor: pointer;
}

.diagram__details {
  text-align: center;
  margin-top: 10px;
}

.project__drawing_selected {
  margin-top: 20px;
  /* border: 4px solid red;
  */
  border: 4px solid rgb(255, 0, 0);
  cursor: pointer;
}

.project__diagram-container {
  margin: 0 auto;
  max-width: 80vw;
  display: flex;
  /* justify-content: space-between; */
  gap: 1.5rem;
  flex-wrap: wrap;
}

.project__button-split {
  display: flex;
}

.project__delete-diagram-button {
  background-color: var(--delete-red);
  border: none;
  color: var(--white);
  border: 1px solid var(--white);
  cursor: pointer;
}
