.diagram {
  /* display: none; */
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: black;
  z-index: 2;
  box-sizing: border-box;
  transition: opacity .2s ease, visibility .2s ease;
}

.diagram__canvas {
  box-sizing: border-box;
  width: 100%;
  background-color: #dfdfdf;
  height: 100dvh;
}

.diagram_visible {
  /* display: block; */
  visibility: visible;
  opacity: 1;
  transition: opacity .2s ease, visibility .2s ease;
  position: absolute;
  /* height: 100dvh; */
  overflow: hidden;
}

/* .diagram__tools{
  position: absolute;
  right: 0;
  height: 100%;
  width: 40px;
  border: 1px solid red;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-top: 5px;
  user-select: none;
  z-index: 4;
} */

.diagram__close {
  background-color: rgb(255, 70, 70);
  top: 5px;
}

.diagram__save {
  background-color: rgb(64, 107, 55);
  top: 40px;
}

.diagram__icon {
  position: absolute;
  width: 30px;
  cursor: pointer;
  z-index: 3;
  border-radius: 5px;
  right: 5px;
  user-select: none;
}

.diagram__trash {
  /* background-color: rgb(253, 89, 89); */
  border: 2px solid var(--black);
  position: absolute;
  bottom: 5px;
}

.diagram__items {
  padding: 3px;
  border: 2px solid var(--black);
  top: 75px;
}

.diagram__line-length-display {
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 5px;
  left: 5px;
  border: 1px solid black;
  color: black;
  padding: 2px 5px;
  user-select: none;
}

@media screen and (max-width: 650px) {

  .diagram {
    height: 100svh;
  }

  .diagram__canvas {
    height: 100%;
  }
}

