html {
  /* overflow: hidden; */
  height: 100vh;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

.page {
  max-width: auto;
  margin: 0 auto;
  color: var(--white);
  position: relative;
  background-color: var(--black);
}

.accent {
  color: var(--blue-primary);
}

.hero {
  text-align: center;
  font-size: clamp(1rem, 2rem, 3rem);
  font-weight: 900;
  font-family: Arial, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.hero__description {
  font-size: clamp(0.25rem, 1.2rem, 2rem);
  /* max-width: 55%; */
  width: clamp(50%, 70%, 100%);
  margin: 0 auto;
  filter: opacity(0.6);
  font-weight: 400;
}

.hero__button {
  border: none;
  border-radius: 30px;
  background-color: var(--blue-primary);
  padding: 15px;
  font-size: 20px;
  margin-top: 50px;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
  color: var(--white);
}

.hero__button:hover {
  background-color: var(--blue-secondary);
}

.input_error {
  border: 2px solid red !important;
}
