.page {
  max-width: auto;
  margin: 0 auto;
  color: var(--white);
  position: relative;
}

.accent {
  color: var(--blue-primary);
}

.hero {
  text-align: center;
  font-size: 42px;
  font-weight: 900;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.hero__description {
  font-size: 20px;
  max-width: 55%;
  margin: 0 auto;
  filter: opacity(.6);
  font-weight: 400;
}

.hero__button {
  border: none;
  border-radius: 30px;
  background-color: var(--blue-primary);
  padding: 15px;
  font-size: 20px;
  margin-top: 50px;
  cursor: pointer;
  transition: background-color .2s ease-in;
  color: var(--white);
}

.hero__button:hover {
  background-color: var(--blue-secondary);
}