.modal {
  background-color: rgba(255, 255, 255, 0.568);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition:
    opacity 0.2s ease,
    visibility 0.2s ease;
}

.modal_visible {
  background-color: rgba(255, 255, 255, 0.568);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: visible;
  opacity: 1;
  transition:
    opacity 0.2s ease,
    visibility 0.2s ease;
}

.create-project-form,
.downspout-modal__form {
  position: absolute;
  top: 10%;
  width: 80%;
  max-width: 520px;
  box-shadow: 0 0 5px black;
  background-color: var(--black);
  max-height: 700px;
  overflow-y: auto;
  scrollbar-width: none;
}

.create-project-form__header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.project-name__input {
  width: 100%;
  margin-top: 10px;
}

.create-project-form__footer {
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding: 10px;
}

.create-project-form__body,
.create-project-form__header {
  padding: 20px;
}

.create-project-form__button_cancel,
.create-project-form__button_create {
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.2s ease;
}

.create-project-form__button_cancel {
  border: 1px solid var(--white);
  color: var(--white);
  background-color: transparent;
}

.create-project-form__button_create {
  margin-left: 10px;
  background-color: var(--blue-primary);
  color: var(--white);
}

.create-project-form__button_create:hover,
.create-project-form__button_cancel:hover {
  background-color: var(--blue-secondary);
}

.create-project-form__header-text {
  margin: 0;
}

.project-name__input {
  color: var(--white);
  padding: 5px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.create-project-form__project-info {
  padding: 20px;
  display: flex;
  align-items: center;
  margin: 0;
  padding-bottom: 20px;
  font-size: 14px;
}

.create-project-form__title {
  font-weight: bold;
}

.create-project-form__drop-down-icon {
  width: 20px;
  cursor: pointer;
  margin-left: 10px;
  transform: rotate(0deg);
  transition: transform 0.2s ease;
}

.create-project-form__drop-down-icon_flipped {
  width: 20px;
  cursor: pointer;
  margin-left: 10px;
  transform: rotate(-180deg);
  transition: transform 0.2s ease;
}

.create-project-form__body_extended {
  padding: 0 20px;
}

.create-project-form__body_not-extended {
  max-height: 0;
  overflow: hidden;
  padding: 0 20px;
}

.create-project-form__body {
  transition: max-height 0.2s ease;
}

.create-project-form__client-details {
  margin: 0;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 20px;
}

.create-project-form__bold-header {
  font-weight: bold !important;
}

.create-project-form__client-details-input_name {
  width: 100%;
  margin-bottom: 30px;
}

.create-project-form__site-info-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-weight: normal;
}

.create-project-form__input {
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 5px;
  color: var(--white);
  margin-top: 5px;
}

.create-project-form__input_disabled {
  color: grey;
  user-select: none;
}

.create-project-form__client-details-input_address-street {
  width: 100%;
  margin-bottom: 10px;
}

.create-project__label {
  font-weight: bold;
  font-size: 16px;
}

.client-details__address-separator {
  display: flex;
  gap: 10px;
}

.create-project-form__client-details-input_address-city,
.create-project-form__client-details-input_address-county,
.create-project-form__client-details-input_address-state,
.create-project-form__client-details-input_address-zip {
  flex-grow: 1;
  margin-bottom: 10px;
}

.create-project-form__client-details-input_phone-primary,
.create-project-form__client-details-input_phone-alternate,
.create-project-form__client-details-input_email {
  width: 100%;
  margin-bottom: 10px;
}

.client-details__bottom-margin {
  margin-bottom: 20px;
}

.create-project-form__client-details-input_phone-alternate {
  margin-bottom: 30px;
}

.create-project-form__client-details-input_email {
  margin-bottom: 30px;
}

@media screen and (max-width: 650px) {
}
