.selected-downspout-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .5);
  z-index: 11;
  display: none;
  height: 100svh;
  width: 25%;
}

.selected-downspout-modal_visible {
  display: inline-block;
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .7);
  z-index: 11;
  padding: 10px;
}

.selectedLine__input {
  width: 90%;
  /* border: 1px solid red; */
}