.diagram-confirm__content {
  background-color: var(--black);
  border: 1px solid white;
  position: absolute;
  top: 25%;
  padding: 20px;
  border-radius: 10px;
}

.diagram-confirm__buttons {
  display: flex;
  gap: 10px;
}

.button_overwrite{
  background-color: var(--blue-secondary);
}

.button_overwrite:hover, .button_createNew:hover {
  filter: opacity(.7)
}

.button_overwrite, .button_createNew {
  cursor: pointer;
  transition: filter .2s ease;
}

.button_createNew{
  background-color: var(--blue-primary);
}

.close-btn {
  width: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
