.header {
  display: flex;
  max-width: 1400px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--black);
}

.header__logo {
  width: 100px;
}

.header__button {
  border: none;
  background-color: var(--blue-primary);
  padding: 15px;
  color: var(--white);
  border-radius: 30px;
  cursor: pointer;
  transition: background-color .2s ease-in;
}

.header__button:hover {
  background-color: var(--blue-secondary);
}

.header__navigation-list {
  display: flex;
  padding: 0;
  list-style-type: none;
  gap: 13px;
}

.header__button_signin {
  margin-left: 10px;
  background-color: transparent;
  border: 1px solid var(--white);
}

