.dashboard__header {
  border-bottom: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: var(--black);
}

.dashboard__logo {
  width: 60px;
  margin-left: 20px;
  margin-right: 30px;
}

.dashboard__link {
  text-decoration: none;
  color: var(--white);
  font-size: 15px;
  margin-right: 50px;
  cursor: pointer;
}

.dashboard__links {
  display: flex;
  align-items: center;
}

.dashboard__account-link {
  margin-right: 20px;
  display: flex;
  cursor: pointer;
}

.dashboard__drop-down-icon {
  width: 15px;
  margin-left: 5px;
}

.dashboard__hadmburger-menu-icon {
  width: 30px;
}


@media screen  and (max-width: 650px){
  .dashboard__account-link{
    display: none;
  }

  .dashboard__hadmburger-menu-icon {
    display: block;
  }

  .dashboard__link {
    display: none;
  }

  .dashboard__logo{
    margin: 0;
    width: 50px;
  }
  .dashboard__header {
    padding: 10px;
  }
}