.signup__form-cont {
  /* border: 1px solid var(--white); */
  margin: 0 auto;
}

.signin__header-logo__form-cont {
  width: 100px;
  margin-top: 10px;
  margin-left: 20px;
}

.signup__form-logo-upload {
  display: block;
  margin-top: 10px;
  border: 1px solid var(--white);
  width: 100%;
  padding: 5px;
  border-radius: 5px;
}

.signin-cont__button {
  margin-bottom: 20px;
}

.signup__form-error-message {
  color: var(--delete-red);
  margin-top: 10px;
  height: 20px; /* reserve space for the error message */
}

.signup__form-go-to-sign-in-button {
  color: var(--white);
  text-decoration: underline;
  cursor: pointer;
  background: none;
  border: none;
}