:root {
  --black: #0b0e12;
  --white: #fcf7f5;
  --blue-primary: #1b3c65;
  --blue-secondary: #1b6165;
  --orange-secondary: #65441c;
  --delete-red: rgb(182, 26, 26);
  --blue-primary-opposite: #65441B;
}

* {
  
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

html {
  background-color: var(--black);
}

input {
  background-color: var(--black);
}