:root {
  --black: #0a0a0a;
  --white: #fcf7f5;
  --blue-primary: #1b3c65;
  --blue-secondary: #1b6165;
  --orange-secondary: #65441c;
}

* {
  background-color: var(--black);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}